.about-us {
  position: relative;
  background-image: url("/5.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.about-us-overlay {
  background: rgba(0, 0, 0, 0.617);
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.about-us-title {
  font-size: 48px;
  margin-bottom: 30px;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-us p {
  font-size: 1.2em;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto 20px auto;
  color: #e0e0e0;
}

.about-us p:last-of-type {
  margin-bottom: 0;
}